#ola{
    background-color: olive;
}
.paragrafo{
    background-color: aqua;
    font-size: 100px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}